JEE7/web/src/main/webapp/WEB-INF/wsdl/ServiceExerice1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:tns="http://www.example.org/TopDown/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:fi="http://java.sun.com/xml/ns/wsit/2006/09/policy/fastinfoset/service" xmlns:tcp="http://java.sun.com/xml/ns/wsit/2006/09/policy/soaptcp/service" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:sc="http://schemas.sun.com/2006/03/wss/server" xmlns:wspp="http://java.sun.com/xml/ns/wsit/policy" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" name="Ex1Service" targetNamespace="http://www.example.org/TopDown/">
	<wsdl:types>
		<xsd:schema xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://www.example.org/TopDown/" elementFormDefault="qualified">
			<xsd:element name="SaveOrder" type="saveOrderType">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="orderName" type="xsd:string"/>
						<xsd:element name="orderDate" type="xsd:dateTime"/>
						<xsd:element name="totalOrderPrice" type="xsd:decimal"/>
						<xsd:element name="products" minOccurs="0" maxOccurs="unbounded" type="ProductType">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="productName" type="xsd:string"/>
									<xsd:element name="productPrice" type="xsd:decimal"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="SaveOrderRequestMessage">
		<wsdl:part name="SaveOrderRequestPart" element="tns:SaveOrder"/>
	</wsdl:message>
	<wsdl:portType name="OrderServicePortType">
		<wsdl:operation name="SaveOrder">
			<wsdl:input message="tns:SaveOrderRequestMessage"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="OrderServiceBinding" type="tns:OrderServicePortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="SaveOrder">
			<!--<soap:operation soapAction="http://www.example.org/TopDown/TestOperation" style="document"/>-->
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="OrderService">
		<wsdl:port name="OrderServicePort" binding="tns:OrderServiceBinding">
			<soap:address location="http://localhost:8080/EJB/OrderService"/> <!-- n'a pas d'importance, sera recréé par intellij-->
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
