JEE7/web/src/main/java/mypackage/PersonService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:tns="http://www.groept.be/PersonService/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:fi="http://java.sun.com/xml/ns/wsit/2006/09/policy/fastinfoset/service" xmlns:tcp="http://java.sun.com/xml/ns/wsit/2006/09/policy/soaptcp/service" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:sc="http://schemas.sun.com/2006/03/wss/server" xmlns:wspp="http://java.sun.com/xml/ns/wsit/policy" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" name="TestService" targetNamespace="http://www.groept.be/PersonService/">
	<wsdl:types>
		<xsd:schema xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://www.groept.be/PersonService/" elementFormDefault="qualified">
			<xsd:element name="SendPerson">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Name" type="xsd:string"/>
						<xsd:element name="Age" type="xsd:int"/>
						<xsd:element name="Address">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="Country" type="xsd:string"/>
									<xsd:element name="Municipality" type="xsd:string"/>
									<xsd:element name="Postalcode" type="xsd:int"/>
									<xsd:element name="Street" type="xsd:string"/>
									<xsd:element name="Housenumber" type="xsd:string"/>
									<xsd:element name="Index" type="xsd:string"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="PersonServiceRequestMessage">
		<wsdl:part name="PersonServiceRequestPart" element="tns:SendPerson"/>
	</wsdl:message>
	<wsdl:portType name="PersonServicePortType">
		<wsdl:operation name="SendPerson">
			<wsdl:input message="tns:PersonServiceRequestMessage"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="PersonServiceBinding" type="tns:PersonServicePortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="SendPerson">
			<!--<soap:operation soapAction="http://www.groept.be/PersonService/TestOperation" style="document"/>-->
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="PersonService">
		<wsdl:port name="PersonServicePort" binding="tns:PersonServiceBinding">
			<soap:address location="http://localhost:8080/EJB/PersonService"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
